* {
    box-sizing: border-box;
}
body {
    margin: 0;
    
}
#canvas {
    position: relative;
    width: 80vmin;
    aspect-ratio: 1;
  }
.box {
    position:absolute;
    height: 20%;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    top: 80%;
    color: wheat;
}
.matrix {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}